* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "inter";
  src: url(./../fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: "work_sans";
  src: url(./../fonts/WorkSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "inter_bold";
  src: url(./../fonts/Inter-Bold.ttf);
}
.content__wrapper__black {
  background-color: black;
}

img {
  display: block;
  max-width: 100%;
}

.hero__section {
  height: 100vh;
  padding-inline: 5%;
}
.hero__section .hero__article {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__section .hero__article span {
  transform: rotate(90deg);
  color: rgba(255, 255, 255, 0.3);
}
.hero__section .hero__article p {
  font-family: "work_sans";
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-align: center;
}
.hero__section .hero__article p:nth-of-type(1) {
  padding-top: 20vh;
  padding-bottom: 3vh;
}
.hero__section .hero__article p:nth-of-type(2) {
  padding-top: 3vh;
}
.hero__section .hero__article h2 {
  font-family: "inter";
  font-size: 4rem;
  font-weight: 700;
  line-height: 51.2px;
}
.hero__section .hero__article h2:nth-of-type(2) {
  font-family: "inter";
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  color: black;
}
.hero__section .hero__bottom {
  display: flex;
  height: 45vh;
  justify-content: space-between;
  align-items: flex-end;
}
.hero__section .hero__bottom .button {
  text-decoration: none;
  font-family: "work_sans";
  font-size: 1.3125rem;
  color: white;
  border: 1px solid white;
  background-color: black;
  padding: 12px 32px;
}
.hero__section .hero__bottom .button:hover {
  color: black;
  background-color: white;
}

.black_wrapper_2 {
  background-color: black;
  padding-left: 5%;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.black_wrapper_2 article:nth-of-type(1) {
  max-width: 1020px;
}
.black_wrapper_2 article:nth-of-type(1) p {
  color: #fff;
  font-size: 6.1094rem;
  font-weight: 700;
  line-height: 6.7891rem;
  letter-spacing: -0.1547rem;
  font-family: "inter";
}
.black_wrapper_2 article:nth-of-type(2) {
  max-width: 100%;
  padding-top: 15vh;
  position: relative;
}
.black_wrapper_2 article:nth-of-type(2) p:nth-of-type(1), .black_wrapper_2 article:nth-of-type(2) p:nth-of-type(3), .black_wrapper_2 article:nth-of-type(2) p:nth-of-type(5) {
  color: white;
  font-family: "work_sans";
  font-size: 0.875rem;
  font-weight: 400;
  padding-bottom: 2vh;
}
.black_wrapper_2 article:nth-of-type(2) p:nth-of-type(2), .black_wrapper_2 article:nth-of-type(2) p:nth-of-type(4), .black_wrapper_2 article:nth-of-type(2) p:nth-of-type(6) {
  color: #fff;
  font-size: 6.1094rem;
  font-weight: 700;
  line-height: 6.7891rem;
  letter-spacing: -0.1547rem;
  font-family: "inter";
  padding-bottom: 3vh;
}
.black_wrapper_2 article:nth-of-type(2) img {
  width: 38%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.white_wrapper_1 {
  background-color: #fff;
  position: relative;
}
.white_wrapper_1 div p {
  font-family: "work_sans";
  color: black;
  font-size: 0.9875rem;
  font-weight: 400;
  line-height: 1.8516rem;
  letter-spacing: -0.025rem;
}
.white_wrapper_1 div:nth-of-type(1) {
  padding-top: 45vh;
  padding-bottom: 30vh;
  max-width: 448px;
  margin: 0 auto;
}
.white_wrapper_1 div:nth-of-type(1) h3 {
  color: black;
  font-family: "inter";
  font-size: 5.2239rem;
  font-weight: 700;
  line-height: 5.1433rem;
  letter-spacing: -0.075rem;
  padding-bottom: 2vh;
}
.white_wrapper_1 div:nth-of-type(2) {
  padding-top: 50vh;
  padding-bottom: 40vh;
  max-width: 448px;
  margin: 0 auto;
}
.white_wrapper_1 img:nth-of-type(1) {
  position: absolute;
  max-width: 25%;
  top: -4%;
  left: 70%;
}
.white_wrapper_1 img:nth-of-type(2) {
  position: absolute;
  max-width: 20%;
  top: 11%;
  left: 4%;
}
.white_wrapper_1 img:nth-of-type(3) {
  position: absolute;
  max-width: 20%;
  top: 32%;
  right: 0;
}
.white_wrapper_1 img:nth-of-type(4) {
  position: absolute;
  max-width: 25%;
  top: 42%;
  left: 15%;
}
.white_wrapper_1 img:nth-of-type(5) {
  position: absolute;
  max-width: 25%;
  top: 52%;
  left: 65%;
}
.white_wrapper_1 img:nth-of-type(6) {
  position: absolute;
  max-width: 20%;
  top: 72%;
  left: 0;
}
.white_wrapper_1 img:nth-of-type(7) {
  position: absolute;
  max-width: 28%;
  bottom: 0;
  left: 47%;
}

.black_wrapper_3 {
  background-color: black;
  padding-inline: 5%;
  position: relative;
}
.black_wrapper_3 p {
  color: #fff;
  font-family: "work_sans";
  font-size: 1.2344rem;
  font-weight: 400;
  line-height: 1.8516rem;
  padding-top: 20vh;
  padding-bottom: 1vh;
}
.black_wrapper_3 article {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100vh;
}
.black_wrapper_3 article h3 {
  color: white;
  font-family: "inter";
  font-size: 5.2239rem;
  font-weight: 700;
  line-height: 5.1433rem;
  max-width: 300px;
}
.black_wrapper_3 article div {
  max-width: 600px;
  padding-right: 50px;
}
.black_wrapper_3 article div p:nth-of-type(1) {
  font-family: "inter";
  font-size: 1.8104rem;
  font-weight: 700;
  line-height: 2.0573rem;
  letter-spacing: -0.025rem;
  padding-top: 0;
  padding-bottom: 0;
}
.black_wrapper_3 article div p:nth-of-type(2) {
  font-family: "work_sans";
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 2.0573rem;
  letter-spacing: -0.025rem;
  padding-top: 1vh;
  padding-bottom: 0;
}
.black_wrapper_3 img:nth-of-type(1) {
  position: absolute;
  max-width: 55%;
  top: 50%;
}
.black_wrapper_3 img:nth-of-type(2) {
  position: absolute;
  max-width: 25%;
  top: 70%;
  left: 55%;
}

.white_wrapper_2 {
  height: 70vh;
  position: relative;
  overflow: hidden;
}
.white_wrapper_2 img {
  max-width: 40%;
  position: absolute;
  top: -30%;
  right: -12%;
  animation: circle 8s linear infinite;
}

.grey_wrapper_1 {
  background-color: lightgrey;
  padding-inline: 5%;
  position: relative;
}
.grey_wrapper_1 p {
  color: black;
  font-family: "work_sans";
  font-size: 1.2344rem;
  font-weight: 400;
  line-height: 1.8516rem;
  padding-top: 3vh;
  padding-bottom: 1vh;
}
.grey_wrapper_1 article {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120vh;
}
.grey_wrapper_1 article h3 {
  color: black;
  font-family: "inter";
  font-size: 5.2239rem;
  font-weight: 700;
  line-height: 5.1433rem;
  max-width: 300px;
}
.grey_wrapper_1 article div {
  max-width: 600px;
  padding-right: 50px;
}
.grey_wrapper_1 article div p:nth-of-type(1) {
  font-family: "inter";
  font-size: 1.8104rem;
  font-weight: 700;
  line-height: 2.0573rem;
  letter-spacing: -0.025rem;
  padding-top: 0;
  padding-bottom: 0;
}
.grey_wrapper_1 article div p:nth-of-type(2) {
  font-family: "work_sans";
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 2.0573rem;
  letter-spacing: -0.025rem;
  padding-top: 2vh;
  padding-bottom: 0;
}
.grey_wrapper_1 img:nth-of-type(1) {
  position: absolute;
  max-width: 53%;
  top: 35%;
  right: 5%;
}
.grey_wrapper_1 img:nth-of-type(2) {
  position: absolute;
  max-width: 25%;
  top: 48%;
  left: 23%;
}

body footer {
  background-color: black;
  padding-left: 5%;
  padding-bottom: 3vh;
  position: relative;
  overflow: hidden;
}
body footer article:nth-of-type(1) {
  max-width: 500px;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
body footer article:nth-of-type(1) p:nth-of-type(1) {
  color: white;
  font-family: "work_sans";
  font-size: 0.75rem;
  font-weight: 400;
}
body footer article:nth-of-type(1) p:nth-of-type(2) {
  font-family: "inter";
  color: white;
  font-size: 1.8104rem;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: -0.025rem;
  padding-top: 0;
  padding-bottom: 5vh;
}
body footer article:nth-of-type(1) .button {
  text-decoration: none;
  font-family: "work_sans";
  font-size: 1.3125rem;
  color: white;
  border: 1px solid white;
  background-color: black;
  padding: 12px 32px;
  margin-bottom: 5vh;
}
body footer article:nth-of-type(1) .button:hover {
  color: black;
  background-color: white;
}
body footer article:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}
body footer article:nth-of-type(2) div:nth-of-type(1) nav {
  display: flex;
  max-width: 100px;
  padding-block: 1vh;
}
body footer article:nth-of-type(2) div:nth-of-type(1) nav img {
  max-width: 50%;
}
body footer article:nth-of-type(2) div:nth-of-type(1) p {
  font-family: "work_sans";
  color: white;
  font-size: 0.75rem;
  padding-block: 1vh;
}
body footer article:nth-of-type(2) div:nth-of-type(2) {
  display: flex;
  padding-right: 15%;
}
body footer article:nth-of-type(2) div:nth-of-type(2) img {
  max-width: 50px;
  max-height: 30px;
}
body footer .banner {
  height: 150px;
  width: 100%;
  background-color: #fff;
  color: black;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 20%;
}
body footer .banner p {
  font-family: "inter";
  font-size: 4em;
  font-weight: 700;
  animation: banner 8s linear infinite alternate;
}
body footer .banner p .stroke {
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  color: white;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes banner {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(30%);
  }
}
@media screen and (max-width: 400px) {
  .hero__section .hero__article h2 {
    font-size: 3rem;
  }
  .black_wrapper_2 article:nth-of-type(1) p {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .black_wrapper_2 article:nth-of-type(2) p:nth-of-type(2), .black_wrapper_2 article:nth-of-type(2) p:nth-of-type(4), .black_wrapper_2 article:nth-of-type(2) p:nth-of-type(6) {
    font-size: 4rem;
    line-height: 4rem;
  }
  .white_wrapper_1 {
    position: static;
    padding-inline: 5%;
  }
  .white_wrapper_1 div:nth-of-type(1) {
    padding-top: 5vh;
    padding-bottom: 0vh;
  }
  .white_wrapper_1 div:nth-of-type(2) {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  .white_wrapper_1 img {
    display: block;
    max-width: 100%;
    margin-block: 1vh;
  }
  .white_wrapper_1 img:nth-of-type(1) {
    position: static;
    max-width: 100%;
  }
  .white_wrapper_1 img:nth-of-type(2) {
    position: static;
    max-width: 100%;
  }
  .white_wrapper_1 img:nth-of-type(3) {
    position: static;
    max-width: 100%;
  }
  .white_wrapper_1 img:nth-of-type(4) {
    position: static;
    max-width: 100%;
  }
  .white_wrapper_1 img:nth-of-type(5) {
    position: static;
    max-width: 100%;
  }
  .white_wrapper_1 img:nth-of-type(6) {
    position: static;
    max-width: 100%;
  }
  .white_wrapper_1 img:nth-of-type(7) {
    position: static;
    max-width: 100%;
  }
  .black_wrapper_3 {
    position: static;
  }
  .black_wrapper_3 p {
    padding-top: 8vh;
  }
  .black_wrapper_3 article {
    display: block;
    padding-bottom: 5vh;
  }
  .black_wrapper_3 article h3 {
    padding-bottom: 3vh;
  }
  .black_wrapper_3 img {
    margin-block: 2vh;
  }
  .black_wrapper_3 img:nth-of-type(1) {
    position: static;
    max-width: 100%;
  }
  .black_wrapper_3 img:nth-of-type(2) {
    position: static;
    max-width: 100%;
    padding-bottom: 5vh;
  }
  .white_wrapper_2 {
    position: static;
    display: flex;
    align-items: center;
    height: 35vh;
  }
  .white_wrapper_2 img {
    position: static;
    max-width: 100%;
  }
  .grey_wrapper_1 {
    position: static;
  }
  .grey_wrapper_1 p {
    padding-top: 8vh;
  }
  .grey_wrapper_1 article {
    display: block;
    padding-bottom: 5vh;
  }
  .grey_wrapper_1 article h3 {
    padding-bottom: 3vh;
  }
  .grey_wrapper_1 img {
    margin-block: 2vh;
  }
  .grey_wrapper_1 img:nth-of-type(1) {
    position: static;
    max-width: 100%;
  }
  .grey_wrapper_1 img:nth-of-type(2) {
    position: static;
    max-width: 100%;
    padding-bottom: 5vh;
  }
  body footer {
    padding-inline: 5%;
  }
  body footer .banner {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
